/***********************************************
GENERAL 
***********************************************/

body{

}

a {
 
}

img {
  
}

#wrapper {


h3 {

}


/***********************************************
Heading
***********************************************/

header {

}

#logo {

}

h1 {

}

h2 {

}



/***********************************************
Navigation
***********************************************/

nav {
 
}

nav ul {


nav li {

}

nav a {
 
}


/***********************************************
Footer
***********************************************/

footer {

}

.social-icon {



/***********************************************
Page: Portfolio 
***********************************************/

#gallery {

}

#gallery li {
 
 
}

#gallery li a p {

}



/***********************************************
PAGE: About 
***********************************************/

.profile-photo {
 
}



/***********************************************
PAGE: Contact 
***********************************************/

.contact-info {

}

.contact-info a {
 
}




/***********************************************
Color 
***********************************************/

/* Site body */
body {
 
}

/* green header */
header {

}

/* Nav background in mobile */
nav {
 
}

/* Logo text */
h1, h2 {

}

/* links */
a {

}

/* nav link color */
nav a, nav a:visited {
 
/* selected nav link color*/
nav a.selected, nav a:hover {
 
}





